#container {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  width:960px;
  border:solid black 5px;
}

.hovered {
  background-color: grey;
}

.unhovered {
  background-color:white;
  transition: background-color 5s;
}